[submodule "globalsiteselector"]
	path = globalsiteselector
	url = https://github.com/pondersource/globalsiteselector
[submodule "user_saml"]
	path = user_saml
	url = https://github.com/pondersource/user_saml
[submodule "server"]
	path = server
	url = git@github.com:pondersource/server.git
[submodule "mfaverifiedzone"]
	path = mfaverifiedzone
	url = git@github.com:pondersource/mfaverifiedzone.git
